.tally {
  height: 20px;
  padding: 1em 0;
  li {
    display: inline-block;
    height: 20px;
    border: 1px solid #000;
    margin-right: 4px;
    &:nth-child(5n) {
      transform: rotate(300deg);
      height: 30px;
      position: relative;
      left: -15px;
      top: 5px;
      margin-right: 1em;
      margin-top: -10px;
    }
  }
}

.negative li {
  border-color: #cc0000;
}
