.container {
  border: 5px solid #999;
  border-radius: 20px; 
  padding: 1rem;
  margin: 1rem;
}

.score {
  text-align: right;
  width: 3rem !important;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.name {
  width: 10rem !important;  
}

.chevron {
  margin-top: -.5rem;
  width: 1.4rem;
  cursor: pointer;
}

.trash {
  width: 1.4rem;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}